name: License Compliance

on:
  pull_request:
  push:
    branches:
      - "main"
      - "master"

jobs:
  license-check:
    uses: worksid-dev/.github/.github/workflows/license-check-base.yml@main
    with:
      node-version: "24"
      php-version: "8.3"
    secrets: inherit
