name: License Compliance

on:
  pull_request:
  push:
    branches:
      - "main"
      - "master"

jobs:
  license-check:
    uses: worksid-dev/.github/.github/workflows/license-check-base.yml@main
    with: {}
    secrets: inherit
