name: License Compliance

on:
  pull_request:
  push:
    branches:
      - "main"
      - "master"

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run License Compliance Checker
        uses: pilosus/action-pip-license-checker@v3
        with:
          # チェックする依存関係のファイル（複数の場合はカンマ区切りで記述）
          requirements: 'yarn.lock,composer.lock'
          # Permissive（MIT, BSD, Apache-2.0など）以外を全て失敗させる
          fail: 'StrongCopyleft, WeakCopyleft, NetworkCopyleft, Proprietary, Other, Error'

          # ライセンスが不明な（unlicensedなど）依存関係が存在する場合も失敗させる
          # fail-unspecified-license-type: true
